<<<<<<< HEAD
body{
    background-color: rgba(186, 133, 255, 0.568);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem;
}

h1{
    text-align: center;
}


footer{
    background-color: rgb(166, 255, 154);
    font-size: 0.8rem;
}

section{
    margin-block: 11rem;
=======
body{
    background-color: rgba(186, 133, 255, 0.568);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem;
}

h1{
    text-align: center;
}


footer{
    background-color: rgb(166, 255, 154);
    font-size: 0.8rem;
}

section{
    margin-block: 11rem;
>>>>>>> 84ee337c672a5724d674e3ed1e7c1a97934a352e
}